.card.p-3.m-auto.mt-5{style: 'width: 30rem;'}
  %h1.text-center.text-dark.fw-bolder Log in
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    = f.input :email, autofocus: true, autocomplete: :email, required: true
    = f.input :password, autocomplete: 'current-password', required: true
    .d-flex.justify-content-between.align-items-top
      = f.input :remember_me, inline_label: 'Yes, remember me', input_html: { value: '1' }, as: :boolean
      = link_to 'Forgot your password?', new_password_path(resource_name), class: 'link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover'
    = f.button :submit, 'Log in', class: 'btn btn-dark m-auto d-block w-75'
    .text-center.mt-3
      = link_to 'Create new account', new_registration_path(resource_name), class: 'link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover'
  = render 'users/shared/omniauths'
