%header
  %nav.navbar.navbar-dark.navbar-expand-lg.bg-body-tertiary.sticky-top{'data-bs-theme': :dark, style: "--bs-bg-opacity: 0;"}
    .container
      = link_to root_path, class: 'navbar-brand fw-bolder d-flex gap-0' do
        %span.text-light Dev
        %span.text-dark Tank
      %button.navbar-toggler{
        aria: {controls: 'navbar-nav', expanded: false, label: 'Toggle navigation'},
        data: {'bs-target': '#navbar-nav', 'bs-toggle': :collapse}}
        %span.navbar-toggler-icon
      .collapse.navbar-collapse#navbar-nav
        %ul.navbar-nav
          %li.nav-item
            = link_to 'Home', root_path, class: "nav-link #{current_page?(root_path) && 'active'}", aria: {current: 'page'}
          %li.nav-item
            = link_to 'Editor', editor_index_path, class: "nav-link #{current_page?(editor_index_path) && 'active'}"
        %ul.navbar-nav.ms-auto.d-flex.flex-row.gap-2
          - if user_signed_in?
            %li.nav-item.text-light.d-flex.align-items-center
              %span Hello, #{current_user.full_name}
          %li.nav-item
            %a.nav-link{href: 'https://github.com/nnhutan', target: :_blank}
              %i.bi.bi-github{type: :button}
          %li.nav-item
            %a.nav-link{href: 'https://facebook.com/dinhnhutan', target: :_blank}
              %i.bi.bi-facebook
          %li.nav-item
            %a.nav-link{href: 'https://linkedin.com/in/dinhnhutan', target: :_blank}
              %i.bi.bi-linkedin
          - if user_signed_in?
            %li.nav-item
              = button_to destroy_user_session_path, method: :delete, class: 'nav-link' do
                %i.bi.bi-box-arrow-right
          - else
            %li.nav-item
              = link_to 'Sign in', new_user_session_path, class: "nav-link #{current_page?(new_user_session_path) && 'active'}"
            %li.nav-item
              = link_to 'Sign up', new_user_registration_path, class: "nav-link #{current_page?(new_user_registration_path) && 'active'}"
