.card.p-3.m-auto.mt-5{style: 'width: 30rem;'}
  %h2.text-center.text-dark.fw-bolder  Forgot your password?
  = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = f.input :email, autofocus: true, autocomplete: "email", required: true
    = f.button :submit, "Send me reset password instructions", class: "btn btn-dark m-auto d-block"
    .d-flex.justify-content-center.mt-3.gap-3
      = link_to 'Log in', new_session_path(resource_name), class: 'link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover' 
      or
      = link_to 'Sign up', new_registration_path(resource_name), class: 'link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover' 
