!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}/
    %title DevTank
    %meta{content: 'width=device-width,initial-scale=1', name: 'viewport'}/
    = favicon_link_tag vite_asset_url('images/icon.png')
    = csrf_meta_tags
    = csp_meta_tag
    = vite_client_tag
    = vite_javascript_tag :admin, 'data-turbo-track': :reload, defer: true
  %body
    .position-relative#flash{'aria-live': :polite, 'aria-atomic': true}= render 'shared/flash'
    = render 'shared/admin/sidebar'
    .content
      = render 'shared/admin/header'
      = yield :page_title
      .main-content.container-fluid.pb-5
        = yield
